<p>予約ページ</p>
<%= form_with model:@reservation do |r| %>
	<%= r.label :check_in, 'チェックイン' %>
	<%= r.text_field :check_in %>
	<%= r.label :check_out, 'チェックアウト' %>
	<%= r.text_field :check_out %>
	<%= r.label :people, '人数' %>
	<%= r.text_field :people %>
	<%= r.submit '予約する' %>
	<%= r.hidden_field :room_id,value:@room.id %>
<% end %>
<%= link_to 'トップページに戻る', '/' %>