<% @rooms.each do |room| %>
  <table class = room_show >
    <td><%= image_tag(room.img_data) %></td>
    <td><%= room.address %></td>
    <td><%= room.inn %></td>
    <td><%= room.charge %></td>
    <td><%= room.introduction %></td>
    <td><%= link_to "詳細はこちら！", room %></td>
  </table>
<% end %>