<!DOCTYPE html>
<html>
  <head>
    <title>YoyakuApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = common_header>
      <%=link_to '宿泊予約サイト', '/',class:'FV_link' %>
    <div class = acount_menu>
      <% if user_signed_in?%>
        <p><%= current_user.email %></p>
        <%= button_to "ログアウト", '/users/sign_out', method: :delete, class:'users_devise'%>
      <% else %>
        <%=link_to 'ログイン', '/users/sign_in',class:'users_devise' %>
        <%=link_to '新規作成', '/users/sign_up',class:'users_devise' %>
      <% end %>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
